resources/videos/.DS_Store
.DS_Store
F1U3P1_solution/project/resources/images/camp.jpg
F1U3P1_solution/project/index.html
F1U3P1_solution/project/resources/css/style.css
F1U3P1_solution/project/resources/images/phone.png
F1U3P1_solution/project/resources/videos/excursion.mp4
